{% extends "firstapp/base.html"  %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
  {% block title %}About{% endblock %}
   {% block content %}

   <aside>
            <center>
                <h3>Do You Still Want To Know Something About Me</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                    <br>
                    <br>
                    Did you Try to Read them OMG!!!<br>
                    These are Some Random Text From <a>Lipsom.com</a></p>
                    Dont Try to click on the Blue link otherwise Your Laptop Will hangggggg!!!!<br>
                    HeHe Link is not Valid LOL



                    Skype us on <a href="skype:9759400047">+919759400047</a> <br>
                    Don't forget to add <a href="skype:Farmankhan69">Farman</a> to your contacts!

                </p>
           <center>
    </aside>

    {% endblock %}




    <footer> &copy; 2017. All rights reserved </footer>

</body>
</html>
