{% load static %}
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static '/css/firstapp.css' %}">

    <title>{% block title %}farmanapp index{% endblock %}</title>
</head>
<body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <!-- Navbar content -->
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/index">Home</a>
                  <a class="navbar-brand" href="/about">About</a>
                  <a class="navbar-brand" href="/contact">Contact</a>



              </nav>
            </div>

        </nav



    {% block content %}

    {% endblock %}

    <hr>

    {% block footer %}
            <footer> &copy; 2017. All rights reserved </footer>

    {% endblock %}

</body>
</html>
