{% extends "firstapp/base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    {% block content %}
         <aside>
    <center>
        <h3>
            Welcome To The Index Page Of My First App.

        </h3>

        <p>
            Hello World!!<br>
            Instead of pasting some Lorel Ipsum fonts i thought that it would be  better if i write about me here.<br>
            Here is my brief introduction <br>
            My name is <strong>Farman Khan</strong>.<br>
            From <strong>Punjab(India)</strong><br>
            completed<strong> B.Tech</strong> in <strong>2017</strong><br>
            leart Basic Structure of <strong> Ruby On Rails</strong><br>
            Learning Python Particularly <strong>Django Framework</strong> under the guidance of <strong>SECFIGO</strong><br>
            Cyber <strong>Security</strong> Enthusiast


        </p>
     </center>

    </aside>

    <center>
    <article>
        <p><br><br>
            This is an another paragraph that i had created to write about me but i think first one is enough.
        </p>
    </article>
     </center>
    {% endblock %}



<center>
    <footer> &copy; 2017. All rights reserved </footer>
</center>
</body>
</html>